*{
   margin: 0;
   padding: 0;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color: rgb(206, 223, 235);
}

div{
    background: #ffff;
    border-radius: 15px;
    width: 350px;
    margin: 62.5px auto;
    padding: 10px 0;
    text-align: center;
}
div img{
    width: 300px;
    margin: 20px auto;
    border-radius: 15px;
}

div h3{
    margin-top: 20px;
    padding: 5px;
    font-size: 20px;
}

div p{
    padding: 5px;
}


@media(max-width: 900px){
    div{
        margin: 62.5px auto;
    }
}


footer{
    background: #15a1ff;
    text-align: center;
    color: #ffff;
}

footer h5{
    font-size: 15px;
    padding: 5px 0 10px 0;
}

footer a{
    color: rgb(216, 177, 130);
    font-size: 13px;
}

footer p{
    color: #ffff;
    padding: 10px 0 5px 0;
}

.img{
   padding: 5px 0 0 2px;
}
